/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Primary Button */
.btn-primary {
  @apply bg-magenta text-white hover:bg-magenta-hover disabled:bg-magenta-tone-100;
}

  /* Text Button */
.btn-text {
  @apply bg-magenta-tone-100 text-magenta hover:bg-magenta-tone-200 disabled:bg-gray-disabled;
}

/* Text Fields */
.input {
  @apply bg-white border border-gray-300 
         disabled:bg-gray-input 
         focus:ring-2 focus:ring-accent;
}

/* Checkboxes & Radio */
.checkbox, .radio {
  @apply text-magenta-tone-100 
         disabled:text-gray-disabled;
}

/* Table Rows */
.table-row {
  @apply hover:bg-accent-hover;
}

.table-row-selected {
  @apply bg-accent text-white;
}

.table-row-active {
  @apply bg-accent-selected;
}

.table-row-selected-active {
  @apply bg-accent-hover;
}

/* Menu Items */
.menu-item {
  @apply hover:bg-accent-hover;
}

.menu-item-selected {
  @apply bg-accent text-white;
}

/* Border Colors for Bundles */
.border-abra-yellow {
  @apply border-yellow;
}

.border-abra-orange {
  @apply border-orange;
}

.border-abra-magenta {
  @apply border-magenta;
}

.text-abra-yellow {
  @apply text-yellow;
}
.text-abra-orange {
  @apply text-orange;
}
.text-abra-magenta {
  @apply text-magenta;
}